header {
    background-image: url("../images/image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    overflow: hidden;
}

.menu-container {
    margin: 0px;
    width: 300px;
    float: right;
}

.menu-container>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

.menu-container>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.schooled {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 150px;
    letter-spacing: 10px;
}

.categories {
    width: 20%;
    margin: 50px auto;
}

.categories>li {
    color: #ffffff;
    font-weight: bold;
    list-style-type: none;
    width: 70px;
    display: inline-block;
    text-align: center ;
    
}

.register {
    display: block;
    margin: 120px auto;
    background-color: #C271FF;
    padding: 15px;
    border-radius: 40px;
    border: 0px;
    color: #ffffff;
    font-weight: bold;
}

.learn {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 40px;
}

.purple {
    color: #C271FF;
}


.students {
    width: 80%;
    margin: 0 auto;
}

.student {
    width: 23%;
    display: inline-block;
}

.student>img {
    display: block;
    margin: 0 auto;
}

.student>h6 {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.student>p {
    color: #ffffff;
    font-size: 15px;
}

.student>h6,
.student>p {
    text-align: center;
}
.testimonial {
  background-color: #c271ff;
  padding: 80px 0;
}


.testimonial__wrapper {
  width: 60%;
  margin: 0 auto;
}

.testimonial__wrapper img {
  width: 150px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}


.testimonial__wrapper div {
  display: inline-block;
  vertical-align: middle;
  width: 65%;
  margin-left: 40px;
  color: white;
}


.testimonial blockquote {
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 1.6;
}


.testimonial__author {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}


.testimonial__role {
  margin-top: 5px;
  font-size: 14px;
  opacity: 0.8;
}
.tutorials {
  padding: 90px 0;
  background-color: #ffffff;
  text-align: center;
}


.tutorials-title {
  font-size: 38px;
  margin-bottom: 60px;
  color: #071629;
  font-weight: 300;
}


.tutorials-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}


.tutorial-card {
  flex: 1 1 230px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  min-width: 0;
  text-align: left;
}


.tutorial-card > img:first-of-type {
  width: 100%;
  display: block;
  border-radius: 14px 14px 0 0;
}


.tutorial-card h3 {
  font-size: 18px;
  color: #071629;
  margin: 25px 30px 8px;
}

.tutorial-card p {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 30px 20px;
}


.tutorial-play {
  position: absolute;
  top: 28%;
  left: 50%;
  
}


.philip {
  display: flex;
  align-items: center;

}


.philip img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}


.philip span {
  color: #c271ff;
  font-weight: 600;
}


.star {
  display: flex;
  align-items: center;
  
  margin-top: auto;
}


.star ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}


.star span {
  font-weight: 600;
  color: #071629;
}

.membership {
  background-color: #071629;
  padding: 80px 0;
  text-align: center;
}


.membership-title {
  color: #c271ff;
  font-size: 32px;
  margin-bottom: 60px;
}


.membership-items {
  width: 80%;
  margin: 0 auto 60px auto;
}


.membership-item {
  width: 22%;
  display: inline-block;
  margin: 0 auto;
  color: white;
}

.membership-item img {
  width: 40px;
  margin-bottom: 20px;
}

.membership-item h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.membership-item p {
  font-size: 14px;
  opacity: 0.5;
}


.membership-btn {
  background-color: #c271ff;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}



.faq {
  width: 75%;
  margin: 0 auto;
}


.faq-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 70px;
}


.faq-section {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;  
  
}


.faq-row {
  width: 100%;
  margin-bottom: 70px;
  overflow: hidden;  
}


.faq-item {
  width: 45%;
}


.faq-item.left {
  float: left;
}

.faq-item.right {
  float: right;
}


.faq-item >h3 {
  font-size: 16px;
  margin-bottom: 12px;
}

.faq-item >p {
  font-size: 14px;
  line-height: 1.7;
  opacity: 0.5;
}


.footer {
  background-color: #071629;
  height: 249px;
  padding: 20px;
}



.footer-logo {
  display: block;
  float: left;
  margin-left: 160px;
   margin-top: 60px;
}

.footer-logo img {
  width: 100px;
}


.footer-social {
  display: block;
  float: right;
  margin-right: 160px;
   margin-top: 50px;
}


.footer-social li {
  display: inline-block;
  margin-left: 30px;
}

.footer-social img {
  width: 20px;
}

.footer-copy {
  width: 100% ;
  text-align: center;
  margin-top: 120px;
  font-size: 12px;
  color: #ffffff;
}
