header {
    background-image: url("../images/image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    overflow: hidden;
}

.menu-container {
    margin: 0px;
    width: 300px;
    float: right;
}

.menu-container>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

.menu-container>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.schooled {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 150px;
    letter-spacing: 10px;
}

.categories {
    width: 20%;
    margin: 50px auto;
}

.categories>li {
    color: #ffffff;
    font-weight: bold;
    list-style-type: none;
    width: 70px;
    display: inline-block;
    text-align: center ;
    
}

.register {
    display: block;
    margin: 120px auto;
    background-color: #C271FF;
    padding: 15px;
    border-radius: 40px;
    border: 0px;
    color: #ffffff;
    font-weight: bold;
}

.learn {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 40px;
}

.purple {
    color: #C271FF;
}


.students {
    width: 80%;
    margin: 0 auto;
}

.student {
    width: 23%;
    display: inline-block;
}

.student>img {
    display: block;
    margin: 0 auto;
}

.student>h6 {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.student>p {
    color: #ffffff;
    font-size: 15px;
}

.student>h6,
.student>p {
    text-align: center;
}